/* // from original template */
.fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
}

.fi-social-youtube {
    color: red;
    font-size: 2rem;
}

.fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
}

i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
}

i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
}

.fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
}

/* from original template  // */

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100italic,100,400italic,700italic,700,900,300italic,900italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/
/* // top/sticky nav */

.title-bar {
    width: 100%;
    background-color: #ffffff;
    color: #0A0A0A;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}


.nav-move {
    background-color: rgba(52, 90, 162, 1.0);
}

.nav-move .menu > li > a  {
    color: #ffffff;
}

.brand-move {
    padding: 50px 174px 0 0;
    background: url(../img/GFBio_logo_white_png_101x50.png) no-repeat left center;
}

.brand-placeholder-move {
    padding: 0;
}


.logo-top-nav {
    padding: 86px 174px 0 0;
    background: url(../img/gfbiologo-transparent.png) no-repeat center center;
}


.logo-top-nav-no-img {
    padding: 86px 0 0 0;
}

.title-bar label {
    color: #345AA2; /* dark blue from logo */
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.menu > li > a {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-shadow: none;
    /*text-transform: lowercase;*/
    font-size: 16px;
    line-height: 23px;
    /*color: #3CACE4; !* light blue from logo *!*/
    color: #345AA2; /* dark blue from logo */
    /* #282828 #808080 #333333 */
}

.menu > li > input[type=search] {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    border: 1px solid #345AA2;
}

.menu > li > button[type=button] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 0;
    text-align: center;
    background-color: #345AA2;
}
/* top/sticky nav // */

/* // radio/checkbox with fontawesome */

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    /*content: "\f1db";*/
    content: "\f096";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #345AA2; /* dark blue from logo */
    width: 1.4em;
}

input[type=checkbox].with-font:checked ~ label:before  {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
}

input[type=radio].with-font:checked ~ label:before  {
    content: "\f046";
    font-size: 1.2em;
    color: #345AA2; /* dark blue from logo */
    letter-spacing: 10px;
}

input[type=checkbox].with-font ~ label:before {
    content: "\f096";
}
input[type=checkbox].with-font:checked ~ label:before {
    content: "\f046";
    color: darkgreen;
}
input[type=radio].with-font:focus ~ label:before,
input[type=checkbox].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
input[type=checkbox].with-font:focus ~ label
{
    color: green;
}

/* radio/checkbox with fontawesome // */