/* // from original template */
/*.fi-social-facebook {*/
    /*color: dodgerblue;*/
    /*font-size: 2rem;*/
/*}*/

/*.fi-social-youtube {*/
    /*color: red;*/
    /*font-size: 2rem;*/
/*}*/

/*.fi-social-pinterest {*/
    /*color: darkred;*/
    /*font-size: 2rem;*/
/*}*/

/*i.fi-social-instagram {*/
    /*color: brown;*/
    /*font-size: 2rem;*/
/*}*/

/*i.fi-social-tumblr {*/
    /*color: navy;*/
    /*font-size: 2rem;*/
/*}*/

/*.fi-social-twitter {*/
    /*color: skyblue;*/
    /*font-size: 2rem;*/
/*}*/

/* from original template  // */

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100italic,100,400italic,700italic,700,900,300italic,900italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/

/* // top/sticky nav */

.title-bar {
    width: 100%;
    background-color: #ffffff;
    color: #0A0A0A;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}


.nav-move {
    background-color: rgba(52, 90, 162, 0.8);
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-move .menu > li > a  {
    color: #ffffff;
}

.nav-move .menu > li > a:hover  {
    /*color: #F0D24D;*/
    color: #62C510;
    color: #80D936;
    color: #F4D13C;
    /*color: #FFE262;*/
    /*color: #81B248; !* somewhere from the green part of logo *!*/
}

.brand-move {
    padding: 40px 174px 0 0;
    background: url(../img/GFBio_logo_mono_png_71x35.png) no-repeat left center;
}

.brand-placeholder-move {
    padding: 0;
}


.logo-top-nav {
    padding: 86px 174px 0 0;
    background: url(../img/gfbiologo-transparent.png) no-repeat center center;
}


.logo-top-nav-no-img {
    padding: 86px 0 0 0;
}

.title-bar label {
    color: #345AA2; /* dark blue from logo */
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.menu > li > a {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-shadow: none;
    /*text-transform: lowercase;*/
    font-size: 16px;
    line-height: 23px;
    /*color: #3CACE4; !* light blue from logo *!*/
    color: #345AA2; /* dark blue from logo */
    /* #282828 #808080 #333333 */
}

.menu > li > div.input-group {
    margin: 0;
}

.menu > li > div.input-group input[type=text] {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    border: 1px solid #345AA2;
    color: #0F3272 !important;
}

.menu > li > div.input-group > div.input-group-button input[type=submit] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    background-color: #345AA2;
}

/* top/sticky nav // */

/* // second row below top-nav */

div.claim {
    /*height: 175px;*/
    /*background-color: lightgrey;*/
    text-align: center;
    padding: 0 10px 0 10px;
}

.claim p {
    color: #555;
    margin-bottom: 0.2rem;
}

h1.submission-a, h1.submission-b, h1.submission-c {
    position: relative;
    /*font-family: 'Dancing Script';*/
    color: #345AA2;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    /*padding-left: 20px;*/
    /*border-bottom: 2px solid rgba(52, 90, 162, 0.9);*/
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
}


/*h1.submission-a:hover:before, h1.submission-b:hover:before, h1.submission-c:hover:before {*/
    /*content: "\f101";*/
    /*font-family: FontAwesome;*/
    /*font-size: 75%;*/
/*}*/

h4.submission-a, h4.submission-b, h4.submission-c {
    color: #345AA2;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}


/*h1.submission-a:hover {*/
    /*background-color: rgba(52, 90, 162, 0.9);*/
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    /*color: #ffffff;*/
    /*border-radius: 4px;*/
/*}*/

h4.submission-a:hover {
    background-color: rgba(52, 90, 162, 0.9);
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    color: #ffffff;
    border-radius: 4px;
}

h4.submission-b:hover {
    background-color: rgba(129, 178, 72, 0.9);
    color: #ffffff;
    border-radius: 4px;
}

h4.submission-c:hover {
    background-color: rgba(60, 172, 228, 0.9);
    color: #ffffff;
    border-radius: 4px;
}


/*replace the content value with the
corresponding value from the list below*/

/*h1.submission:before {*/
    /*content: "\f102";*/
    /*font-family: FontAwesome;*/
    /*!*font-style: normal;*!*/
    /*!*font-weight: normal;*!*/
    /*!*text-decoration: inherit;*!*/
    /*!*!*--adjust as necessary--*!*/
    /*color: rgba(52, 90, 162, 0.5);*/
    /*font-size: 8rem;*/
    /*padding-right: 0.5em;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*left: 0;*/
/*}*/
/*#col1:after {*/
    /*content: "\f102";*/
    /*font-family: FontAwesome;*/
    /*font-size: 75px;*/
/*}*/


div#submit-data-header {
    /*background-color: rgba(129, 178, 72, 1.0); !* somewhere from the green part of logo *!*/
    /*background-color: rgba(60, 172, 228, 1.0); !* light blue from logo *!*/
    background-color: rgba(52, 90, 162, 0.9); /* dark blue from logo */
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

div#retrieve-data-header {
    /*background-color: rgba(129, 178, 72, 1.0); !* somewhere from the green part of logo *!*/
    background-color: rgba(60, 172, 228, 0.9); /* light blue from logo */
    /*background-color: rgba(52, 90, 162, 1.0); !* dark blue from logo *!*/
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

div#plan-data-header {
    background-color: rgba(129, 178, 72, 0.9); /* somewhere from the green part of logo */
    /*background-color: rgba(60, 172, 228, 1.0); !* light blue from logo *!*/
    /*background-color: rgba(52, 90, 162, 1.0); !* dark blue from logo *!*/
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

/* second row below top-nav // */

/* // main menu below second row */

/* some styles come from .menu > li > a  above */
div#main-menu {
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    /*background-color: rgba(52, 90, 162, 0.8);*/
    background-color: #5C7BB4;

    /*background-color: white;*/
    /*border-top: 1px solid rgba(52, 90, 162, 1.0);*/
    /*border-bottom: 1px solid rgba(52, 90, 162, 1.0);*/

    padding: 0;
}

div#main-menu .menu {
    background-color: transparent; /* dark blue from logo */
}

div#main-menu .menu > li > a {
    color: white;
    line-height: 1.0;
}

/* remove arrows from menu */
div#main-menu .menu > li > a:after {
    border-color: transparent transparent transparent;
}

div#main-menu .submenu {
    /*background-color: #5C7BB4;*/
    background-color: #fff;
    border: 1px solid #5C7BB4;
    top: 37px; /* should be lineheight-1 of div#main-menu .menu > li > a */

}

div#main-menu .submenu > li {
    /*border: 1px solid yellow;*/
}

div#main-menu .submenu > li > a {
    color: red;
    /*line-height: 1.0;*/
}

/* main menu below second row // */

/* // radio/checkbox with fontawesome */

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    /*content: "\f1db";*/
    content: "\f096";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #345AA2; /* dark blue from logo */
    width: 1.4em;
}

.nav-move input[type=radio].with-font ~ label:before,
.nav-move input[type=checkbox].with-font ~ label:before {
    color: #ffffff;
}

.nav-move input[type=radio].with-font ~ label {
    color: #ffffff;
}

input[type=checkbox].with-font:checked ~ label:before  {
    content: "\f00c";
    font-size: 1.2em;
    /*color: darkgreen;*/
    letter-spacing: 5px;
}

input[type=radio].with-font:checked ~ label:before  {
    content: "\f046";
    font-size: 1.2em;
    color: #345AA2; /* dark blue from logo */
    letter-spacing: 10px;
}

.nav-move input[type=radio].with-font:checked ~ label:before,
.nav-move input[type=checkbox].with-font:checked ~ label:before {
    color: #ffffff;
}

.nav-move input[type=radio].with-font:checked ~ label,
.nav-move input[type=checkbox].with-font:checked ~ label {
    color: #ffffff;
}

input[type=checkbox].with-font ~ label:before {
    content: "\f096";
}

input[type=checkbox].with-font:checked ~ label:before {
    content: "\f046";
    /*color: darkgreen;*/
}
input[type=radio].with-font:focus ~ label:before,
input[type=checkbox].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
input[type=checkbox].with-font:focus ~ label
{
    /*color: green;*/
}

/* radio/checkbox with fontawesome // */