@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100italic,100,400italic,700italic,700,900,300italic,900italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);*/

/* // top/sticky nav */

.title-bar {
    width: 100%;
    background-color: #ffffff;
    color: #0A0A0A;
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.nav-move {
    background-color: rgba(52, 90, 162, 0.8);
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-move .menu > li > a {
    color: #ffffff;
}

.nav-move .menu > li > a:hover {
    /*color: #F0D24D;*/
    color: #62C510;
    color: #80D936;
    color: #F4D13C;
    /*color: #FFE262;*/
    /*color: #81B248; !* somewhere from the green part of logo *!*/
}

.brand-move {
    padding: 40px 174px 0 0;
    background: url(../img/GFBio_logo_mono_png_71x35.png) no-repeat left center;
}

.brand-placeholder-move {
    padding: 0;
}

.logo-top-nav {
    padding: 86px 174px 0 0;
    background: url(../img/gfbiologo-transparent.png) no-repeat center center;
}

.logo-top-nav-no-img {
    padding: 86px 0 0 0;
}

.title-bar label {
    color: #345AA2; /* dark blue from logo */
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.menu > li > a {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-shadow: none;
    /*text-transform: lowercase;*/
    font-size: 16px;
    line-height: 23px;
    /*color: #3CACE4; !* light blue from logo *!*/
    color: #345AA2; /* dark blue from logo */
    /* #282828 #808080 #333333 */
}

.menu > li > div.input-group {
    margin: 0;
}

.menu > li > div.input-group input[type=text] {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    border: 1px solid #345AA2;
    color: #0F3272 !important;
}

.menu > li > div.input-group > div.input-group-button input[type=submit] {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
    background-color: #345AA2;
}

/* top/sticky nav // */

/* // second row below top-nav */

div.claim {
    /*height: 175px;*/
    /*background-color: lightgrey;*/
    text-align: center;
    padding: 0 10px 0 10px;
}

.claim p {
    color: #555;
    margin-bottom: 0.2rem;
}

h1.submission-a, h1.submission-b, h1.submission-c {
    position: relative;
    /*font-family: 'Dancing Script';*/
    color: #345AA2;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: lowercase;
    /*padding-left: 20px;*/
    /*border-bottom: 2px solid rgba(52, 90, 162, 0.9);*/
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
}

/*h1.submission-a:hover:before, h1.submission-b:hover:before, h1.submission-c:hover:before {*/
/*content: "\f101";*/
/*font-family: FontAwesome;*/
/*font-size: 75%;*/
/*}*/

h4.submission-a, h4.submission-b, h4.submission-c {
    color: #345AA2;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: lowercase;
}

/*h1.submission-a:hover {*/
/*background-color: rgba(52, 90, 162, 0.9);*/
/* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
/*color: #ffffff;*/
/*border-radius: 4px;*/
/*}*/

h4.submission-a:hover {
    background-color: rgba(52, 90, 162, 0.9);
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    color: #ffffff;
    border-radius: 4px;
}

h4.submission-b:hover {
    background-color: rgba(129, 178, 72, 0.9);
    color: #ffffff;
    border-radius: 4px;
}

h4.submission-c:hover {
    background-color: rgba(60, 172, 228, 0.9);
    color: #ffffff;
    border-radius: 4px;
}

/*replace the content value with the
corresponding value from the list below*/

/*h1.submission:before {*/
/*content: "\f102";*/
/*font-family: FontAwesome;*/
/*!*font-style: normal;*!*/
/*!*font-weight: normal;*!*/
/*!*text-decoration: inherit;*!*/
/*!*!*--adjust as necessary--*!*/
/*color: rgba(52, 90, 162, 0.5);*/
/*font-size: 8rem;*/
/*padding-right: 0.5em;*/
/*position: absolute;*/
/*top: 10px;*/
/*left: 0;*/
/*}*/
/*#col1:after {*/
/*content: "\f102";*/
/*font-family: FontAwesome;*/
/*font-size: 75px;*/
/*}*/

div#submit-data-header {
    /*background-color: rgba(129, 178, 72, 1.0); !* somewhere from the green part of logo *!*/
    /*background-color: rgba(60, 172, 228, 1.0); !* light blue from logo *!*/
    background-color: rgba(52, 90, 162, 0.9); /* dark blue from logo */
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

div#retrieve-data-header {
    /*background-color: rgba(129, 178, 72, 1.0); !* somewhere from the green part of logo *!*/
    background-color: rgba(60, 172, 228, 0.9); /* light blue from logo */
    /*background-color: rgba(52, 90, 162, 1.0); !* dark blue from logo *!*/
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

div#plan-data-header {
    background-color: rgba(129, 178, 72, 0.9); /* somewhere from the green part of logo */
    /*background-color: rgba(60, 172, 228, 1.0); !* light blue from logo *!*/
    /*background-color: rgba(52, 90, 162, 1.0); !* dark blue from logo *!*/
    height: 100%;
    width: 100%;
    border-radius: 4px;
    padding: 0 10px 0 10px;
}

/* second row below top-nav // */

/* // main menu below second row */

/* some styles come from .menu > li > a  above */
div#main-menu {
    /* darkblue from logo with 0.8 alpha as fullcolor #5C7BB4 */
    /*background-color: rgba(52, 90, 162, 0.8);*/
    background-color: #5C7BB4;

    /*background-color: white;*/
    /*border-top: 1px solid rgba(52, 90, 162, 1.0);*/
    /*border-bottom: 1px solid rgba(52, 90, 162, 1.0);*/

    padding: 0;
}

div#main-menu .menu {
    background-color: transparent; /* dark blue from logo */
}

div#main-menu .menu > li > a {
    color: white;
    line-height: 1.0;
}

/* remove arrows from menu */
div#main-menu .menu > li > a:after {
    border-color: transparent transparent transparent;
}

div#main-menu .submenu {
    /*background-color: #5C7BB4;*/
    background-color: #fff;
    border: 1px solid #5C7BB4;
    top: 37px; /* should be lineheight-1 of div#main-menu .menu > li > a */

}

div#main-menu .menu > li.first {
    border-left: 1px solid #fff;
}

div#main-menu .menu > li {
    text-align: center;
    border-right: 1px solid #fff;
}

div#main-menu .submenu > li > a {
    color: red;
    /*line-height: 1.0;*/
}

/* main menu below second row // */

/* // radio/checkbox with fontawesome */

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    /*content: "\f1db";*/
    content: "\f096";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #345AA2; /* dark blue from logo */
    width: 1.4em;
}

.nav-move input[type=radio].with-font ~ label:before,
.nav-move input[type=checkbox].with-font ~ label:before {
    color: #ffffff;
}

.nav-move input[type=radio].with-font ~ label {
    color: #ffffff;
}

input[type=checkbox].with-font:checked ~ label:before {
    content: "\f00c";
    font-size: 1.2em;
    /*color: darkgreen;*/
    letter-spacing: 5px;
}

input[type=radio].with-font:checked ~ label:before {
    content: "\f046";
    font-size: 1.2em;
    color: #345AA2; /* dark blue from logo */
    letter-spacing: 10px;
}

.nav-move input[type=radio].with-font:checked ~ label:before,
.nav-move input[type=checkbox].with-font:checked ~ label:before {
    color: #ffffff;
}

.nav-move input[type=radio].with-font:checked ~ label,
.nav-move input[type=checkbox].with-font:checked ~ label {
    color: #ffffff;
}

input[type=checkbox].with-font ~ label:before {
    content: "\f096";
}

input[type=checkbox].with-font:checked ~ label:before {
    content: "\f046";
    /*color: darkgreen;*/
}

input[type=radio].with-font:focus ~ label:before,
input[type=checkbox].with-font:focus ~ label:before,
input[type=radio].with-font:focus ~ label,
input[type=checkbox].with-font:focus ~ label {
    /*color: green;*/
}

/* radio/checkbox with fontawesome // */

/* ---------------------------------------------------------------------------------------------------- */
/* // mega menu */

/* ICOMOON STYLES
        –––––––––––––––––––––––––––––––––––––––––––––––––– */
/*@font-face {*/
    /*font-family: 'icomoon';*/
    /*src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.eot");*/
    /*src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.eot") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.ttf") format("truetype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/icomoon_copy.svg") format("svg");*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*[class^="icon-"]:before,*/
/*[class*=" icon-"]:before {*/
    /*font-family: FontAwesome;*/
    /*position: absolute;*/
    /*margin-top: -6.5px;*/
    /*right: 0;*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
    /*display: inline-block;*/
    /*text-decoration: inherit;*/
/*}*/

/*[class^="icon-"], [class*=" icon-"] {*/
    /*font-family: FontAwesome;*/
    /*speak: none;*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*font-variant: normal;*/
    /*text-transform: none;*/
    /*line-height: 1;*/
    /*position: absolute;*/
    /*-webkit-transition: all .3s ease;*/
    /*transition: all .3s ease;*/
    /*!* Better Font Rendering =========== *!*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

/*[class^="icon-"]:not(.icon-play),*/
/*[class*=" icon-"]:not(.icon-play) {*/

/*}*/

/*.icon-play:before {*/
    /*content: "\ea15";*/
/*}*/

/*.icon-circle-right:before {*/
    /*content: "\f101";*/
/*}*/

/*.dropdown-pane-33 {*/
    /*width: auto;*/
    /*max-width: 33rem; !* 75rem is official rowsize*!*/
    /*margin: 0 auto !important;*/
    /*left: 0% !important;*/
    /*right: 0% !important;*/
/*}*/

/* this should pop up centered */
.dropdown-pane {
    background-color:  #5C7BB4;
    border: 0;
    border-left: 1px solid #fff; /* match background of body */
    /*border-bottom: 1px solid #5C7BB4;*/
    border-right: 1px solid #fff; /* match background of body*/
    width: auto;
    max-width: 75rem; /* 75rem is official rowsize*/
    margin: 0 auto !important;
    /*margin-top: 20px !important;*/
    left: 0% !important;
    right: 0% !important;

    padding-top: 0;
}

.dropdown-pane:after {
    background-color: #5C7BB4;
    border-top: 1px solid white;
    border-left: 1px solid #5C7BB4; /* match background-color*/
    border-right: 1px solid #5C7BB4; /* match background-colort */
    position:absolute;
    content:"";
    left:0;
    right:0;
    height: 2px;
    top: -2px;

}

.col-a {
    background-color: #3a945b;
    border: 1px solid #1cc7ff;
    text-align: left;
}

.col-b {
    background-color: #3adb76;
    border: 1px solid #881f0e;
    text-align: left;
}

.col-b .menu {
    text-align: left;
    border: 0;
}

.col-c {
    background-color: #147cc0;
    border: 1px solid #0c4d78;
    text-align: left;
}

/* ------------------------------------------------------------------------- */

/* this mega row adapted from f5 example seems to need
fix information about with*/
.mega-item-row {
    width: 75rem !important;
}

.js-dropdown-active {
    max-width: 100% !important;
    width: 100% !important;
    left: 0 !important;
    display: block;
}


div#studies .menu > li {
    border: 0;
    text-align: left;
}

div#studies .column > img {
    margin: 1em 0;
}


div#studies p.mega {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    /*font-size: .9em;*/
    color: #fff;
}

div#studies h4.mega {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #fff;
    /*text-transform: uppercase;*/
    /*font-size: 1em;*/
    padding: .5em 0;
    margin: .5em 0;
}

div#studies .info-wrap h4.mega {
    /*font-family: "Lato", Helvetica, Arial, sans-serif;*/
    /*font-weight: 300;*/
    /*color: #fff;*/
    /*!*text-transform: uppercase;*!*/
    /*!*font-size: 1em;*!*/
    /*padding: .5em 0;*/
    /*margin: .5em 0;*/
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
}

div#studies .is-hover {
    list-style-type: none;
    background-color: #5C7BB4;
}



div#studies .is-hover > li:not(:last-child) a {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
}

div#studies .is-hover > li:not(:last-child) a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

div#studies .is-hover > li  a:after {
    font-family: FontAwesome;
    /*display: inline-block;*/
    content: "\f138";
    line-height: 1;
    position: relative;
    float: right;
    right: 0;
    /*top: 50%;*/
    /*-webkit-transition: all .3s ease;*/
    /*transition: all .3s ease;*/
    /*/* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*letter-spacing: 10px;*/
    /*font-size: 1.2em;*/
    /*color: #345AA2; !* dark blue from logo *!*/
    /*width: 1.4em;*/
}

div#studies .is-hover > li  a:hover:after {
    right: 3px;
    font-weight: normal;
}

div#studies .is-hover > li a:hover {
    /*font-weight: 400;*/
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
}

div#studies .is-hover > li > a {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1.0);
    padding-right: 0;
}


div#studies img.mega {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


div#studies .info-wrap h3 {
    width: 50%;
    padding-bottom: 5px;
    border-bottom: 1px solid #4E4E4E;
}

div#studies .info {
    display: none;
}

div#studies .info-visible {
    display: block;
}

div#studies .dt {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    padding: 0 20px;
}

div#studies .p {
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */
